 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
 }

 /* HEADER */

 /* Reset default styles */

 /* Header styles */
 .navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 200px;
   position: sticky;
   top: 0;
   background-color: transparent;
   transition: background-color 0.3s ease;
   z-index: 1000;
 }

 /* Background color change */
 body.scrolled header {
   background-color: white;
 }

 /* Logo styles */
 .logo img {
   width: 100px;
   /* Verander de grootte van de logo op de header */
 }

 /* Navigation styles */
 .links {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   font-family: Segoe UI, Regular;
   font-size: 20px;
 }

 .links li {
   margin-left: 20px;
   /* Bewerk de ruimte tussen de links */
 }

 .links li:first-child {
   margin-left: 0;
 }

 .links a {
   text-decoration: none;
   color: black;
   transition: color 0.3s ease;
 }

 /* Link color change */
 body.scrolled header .links a {
   color: black;
 }

 /* EINDE HEADER */

 /* homepage */
 /* header */
 .headerImage {
   background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/img/ManDriving.png');
   background-size: cover;
   height: 1282px;
   padding: 15vw;

 }

 /* imageheadertekst */
 .info-container1 {

   position: relative !important;
   float: right;
   text-align: right;
   margin-top: 3vh;
   color: white;


 }

 .info-container1 button {
   margin: 50px;
   background-color: rgb(148, 6, 6);
   color: white;
   font-size: 24px;
   border: none;
   border-radius: 11px;
   box-shadow: 4px 4px 11px #00000029;
   padding: 0.7vw 2.2vw;
   cursor: pointer;
 }


 /* informatie rijschool */
 .info-rijschool {

   background-color: rgb(235, 232, 232);
   height: 450px;
   text-align: center;

 }

 h2 {
   font-size: 40px;
 }

 p {
   font-size: 32px;
 }

 /* Waarom rijschool vierkante wielen? */
 .registration {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   text-align: center;
 }

 .regItem1 img {
   align-items: center;
   width: 60%;
   height: auto;

 }

 .regItem1 {
   grid-column: 1/2;
   grid-row: 1/3;
   padding: 3vw;
   padding-left: 1vw;
 }

 .regItem2 {
   grid-column: 2/3;
   grid-row: 1/2;
   padding-top: 7vh;
 }

 .regItem3 {
   grid-column: 2/3;
   grid-row: 2/3;
   padding-bottom: 10vh;
 }

 .pros li::marker,
 .pros li {
   content: '✔️';
   font-size: 26px;
   text-align: left;
   margin-left: 8vw;
   padding-left: 2vw;
 }

 /* over ons */
 .Over-ons {
   background-color: rgb(235, 232, 232);
   height: 1000px;
   display: grid;
   grid-template-rows: repeat(3, 0.5fr);
   text-align: center;
 }

 .logo {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .Over-ons img {

   width: 50%;
 }

 .onsD1 {
   grid-column: 2/3;
   grid-row: 2/3;

 }

 .onsD2 {
   grid-column: 2/3;
   grid-row: 1/2;
 }

 .onsD3 {
   grid-column: 2/3;
   grid-row: 3/3;

 }

 .Over-ons h2 {
   padding-bottom: 5vh;
 }

 /* informatie rijschoolhouder */
 .Info-Rijschoolhouder {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   text-align: center;
   background-color: rgb(235, 232, 232);
 }

 .infoR1 img {
   align-items: center;
   width: 60%;
   height: auto;

 }

 .infoR1 {

   grid-column: 2/3;
   grid-row: 2/3;
   padding-bottom: 10vh;
 }

 .infoR2 {
   grid-column: 1/2;
   grid-row: 1/2;
   padding-top: 7vh;
 }

 .infoR3 {
   grid-column: 1/2;
   grid-row: 2/3;
   padding: 3vw;
   padding-left: 1vw;
 }

 /* schrijf je nu in */
 .Call-to-action {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   text-align: center;
   background-color: rgb(148, 6, 6);
   height: 647px;
   color: white;
 }

 .callA1 img {
   align-items: center;
   width: 60%;
   height: auto;

 }

 .callA1 {

   grid-column: 2/3;
   grid-row: 2/3;
   padding-bottom: 10vh;
 }

 .callA2 {
   grid-column: 1/2;
   grid-row: 1/2;
   padding-top: 7vh;
 }

 .callA3 {
   grid-column: 1/2;
   grid-row: 2/3;
   padding: 3vw;
   padding-left: 1vw;
 }

 .Call-to-action button {
   margin: 50px;
   color: black;
   font-size: 24px;
   border: none;
   border-radius: 11px;
   box-shadow: 4px 4px 11px #00000029;
   padding: 1.2vw 3vw;
   cursor: pointer;
 }

 /* tarieven */
 .tarieven {
   margin-top: 4vh;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   height: 900px;
   font-size: 32px;
 }

 .pakket0 {
   grid-column: 2/3;
   grid-row: 1/4;
   text-align: center;
   padding-bottom: 2vh;
 }

 .pakket1 {
   grid-column: 1/2;
   grid-row: 2/4;
 }

 .pakket2 {
   grid-column: 2/3;
   grid-row: 2/4;
 }

 .pakket3 {
   grid-column: 3/3;
   grid-row: 2/4;
 }

 .pakketD1 {
   grid-column: 1/2;
   grid-row: 3/5;
 }

 .pakketD2 {
   grid-column: 2/3;
   grid-row: 3/5;
 }


 .pakketD3 {

   grid-column: 3/3;
   grid-row: 3/5;
 }

 .tarieven li::marker,
 .tarieven li {
   font-size: 26px;
   text-align: left;
   margin-left: 7vw;

   margin-top: 3vh;


 }

 .pakket1,
 .pakket2,
 .pakket3 {
   background-color: rgb(148, 6, 6);
   color: white;
   margin-left: 100px;
   margin-right: 100px;
   border: none;
   border-radius: 11px;
   padding-top: 4vh;
   text-align: center;
 }

 .pakketD1,
 .pakketD2,
 .pakketD3 {
   background-color: rgb(235, 232, 232);
   color: black;
   margin-left: 100px;
   margin-right: 100px;
   padding-top: 5vh;
   border: none;
   border-bottom-left-radius: 11px;
   border-bottom-right-radius: 11px;
   margin-bottom: 8vh;
 }

 .tarieven button {

   background-color: rgb(148, 6, 6);
   color: white;
   font-size: 24px;
   border: none;
   border-radius: 11px;
   box-shadow: 4px 4px 11px #00000029;
   padding: 0.6vw 1.5vw;
   margin-top: 40px;
   margin-left: 100px;
   margin-right: 100px;
   cursor: pointer;

 }

 /* style van tabellen leden lijst en werknemers zie hier onder */

 table {
   border-collapse: collapse;
   width: 100%;
 }

 th,
 td {
   text-align: left;
   padding: 8px;
   border-bottom: 1px solid #9c1c1c;
 }

 th {
   color: white;
   background-color: #701919;
 }

 /* FOOTER */

 footer {
   background-color: #f0f0f0;
   padding: 20px;
   text-align: center;
 }

 .footer-content {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .footer-logo img {
   width: 100px;
   height: 100px;
 }

 .footer-links {
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .footer-links li {
   margin-left: 10px;
 }

 .footer-links a {
   text-decoration: none;
   color: #333;
 }

 .footer-copyright {
   margin-top: 10px;
   font-size: 14px;
   color: #777;
 }

 /* EINDE FOOTER */